

form{
    // padding: 0 30px;

    ion-item{
        --padding-start: 0;
        padding-left: 0;


        ion-label{
            padding-left: 20px;
            color: var(--ion-color-dark)
        }
        ion-input{        
            --padding-start: 20px;
            padding-left: 30px;
        }
    }

    ion-buttons{
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}

.view ion-item {
    --inner-border-width: 0px;
    --show-inset-highlight: 0;
    pointer-events: none;
}
