<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'menu' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limit-size">
    
    <!-- SETTINGS -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{'ajustes' | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="language-outline" slot="start"></ion-icon>
            <ion-label>{{'idioma' | translate}}</ion-label>
            <ion-select interface="popover" value="language" (ngModelChange)="selLang()" name="lang" [(ngModel)]="settingsMap.lang">
              <ion-select-option value="">{{'default' | translate}}</ion-select-option>
              <ion-select-option value="es">{{'es' | translate}}</ion-select-option>
              <ion-select-option value="en">{{'en' | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="brush-outline" slot="start"></ion-icon>
            <ion-label>{{'tema' | translate}}</ion-label>
            <ion-select interface="popover" value="order" (ngModelChange)="selTheme()" [(ngModel)]="settingsMap.theme">
              <ion-select-option value="">{{'default' | translate}}</ion-select-option>
              <ion-select-option value="light">{{'claro' | translate}}</ion-select-option>
              <ion-select-option value="dark">{{'oscuro' | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="fingerprintAvailable">
            <ion-icon name="finger-print-outline" slot="start"></ion-icon>
            <ion-label>{{'acceso-biometrico' | translate}}</ion-label>
            <ion-toggle [(ngModel)]="settingsMap.bioAccess" (ngModelChange)="setBioAccess()"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <!-- INFO -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{'about' | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item detail lines="full" class="ion-activatable pointer" routerLink="como-funciona">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-label>{{'sobre-app' | translate}}</ion-label>
          </ion-item>
          <ion-item detail lines="full" class="ion-activatable pointer" (click)="showAboutMe()">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>{{'sobre-programador' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- PERFIL -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{'perfil' | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item detail lines="full" class="ion-activatable pointer" (click)="showChangePass()">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>{{'cambiar-pass' | translate}}</ion-label>
          </ion-item>
          <ion-item detail lines="full" class="ion-activatable pointer" (click)="showDeleteAccount()">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            <ion-label>{{'borrar-cuenta' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
