<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Tus Credenciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="credencial">
  <div class="limit-size">
    <h1 class="ion-text-center">{{credencial.title}}</h1>
    <ion-card>
      <ion-card-title>Usuario o Correo:</ion-card-title>
      <ion-card-content>{{credencial.usernameOrEmail}}</ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-title>Contraseña:</ion-card-title>
      <ion-card-content>{{credencial.password}}</ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-title>Sitio Web:</ion-card-title>
      <ion-card-content>{{credencial.url}}</ion-card-content>
    </ion-card>
  </div>

    <!-- 
    <ion-card>
      <ion-card-title></ion-card-title>
      <ion-card-content>{{credencial.}}</ion-card-content>
    </ion-card>
     -->

</ion-content>
