h1{
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 20px 0;
}
ion-card {
    padding: 12px;

    ion-card-title {
        font-size: medium;
        margin-bottom: 5px;
    }

    ion-card-content {
        font-size: large;
        padding: 0;
    }
}