<ion-list>
  <ion-item (click)="dismiss(option.Modify)">
    <ion-icon name="pencil-outline"></ion-icon>
    <ion-label>Actualizar</ion-label>
  </ion-item>
  <ion-item (click)="dismiss(option.Delete)">
    <ion-icon name="trash-outline"></ion-icon>
    <ion-label>Eliminar</ion-label>
  </ion-item>
  <ion-item (click)="dismiss(option.CopyPw)">
    <ion-icon name="clipboard-outline"></ion-icon>
    <ion-label>Copiar contraseña</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="dismiss(option.LinkWeb)">
    <ion-icon name="open-outline"></ion-icon>
    <ion-label>Ir a la web</ion-label>
  </ion-item>
</ion-list>