<h3 class="ion-text-center">{{titulo()}}</h3>
 <ion-content class="modal">
   <form #credentialsForm="ngForm" (ngSubmit)="saveUpdateCredential(credentialsForm)" (keyup.enter)="saveUpdateCredential(credentialsForm)" [class]="(mode === eMode.View)?'view':'insert'">
     <ion-item>
       <ion-label position="stacked">{{'titulo' | translate}} <req></req></ion-label>
       <ion-input type="text" [(ngModel)]="credential.title" name="title" #title placeholder="{{'tituloPh' | translate}}"
       autocapitalize="characters" ngModel maxlength="50" required></ion-input>
     </ion-item>
     <ion-item>
       <ion-label position="stacked">{{'username-email' | translate}}</ion-label>
       <ion-input type="text" [(ngModel)]="credential.usernameOrEmail" name="usernameOrEmail" placeholder="{{'correoPh' | translate}}" maxlength="50" ngModel></ion-input>
     </ion-item>
     <ion-item>
       <ion-label position="stacked">{{'pw' | translate}} <req></req></ion-label>
       <ion-input type="text" [(ngModel)]="credential.password" name="password" #password placeholder="••••••••••" ngModel maxlength="50" required></ion-input>
       <!-- <ion-icon slot="end" name="eye"></ion-icon> -->
     </ion-item>
     <ion-item>
       <ion-label position="stacked">{{'web' | translate}}</ion-label>
       <ion-input type="url" [(ngModel)]="credential.url" name="url" placeholder="{{'urlPh' | translate}}" maxlength="50" ngModel></ion-input>
     </ion-item>
     <div style="margin: 10px 15px;" [hidden]="!invalidForm">
       <ion-text color="danger">
         <small>{{'err.save-cred' | translate}}</small>
       </ion-text>
     </div>
     <ion-buttons>
       <ion-button *ngIf="mode === eMode.Edit" (click)="cancel()">{{'cancelar' | translate}}</ion-button>
       <ion-button *ngIf="mode !== eMode.Edit" (click)="dismiss()">{{'cerrar' | translate}}</ion-button>
       <ion-button *ngIf="mode !== eMode.View" type="submit">{{'guardar' | translate}}</ion-button>
       <ion-button *ngIf="mode === eMode.View" (click)="modify()">{{'actualizar' | translate}}</ion-button>
     </ion-buttons>
   </form>
 </ion-content> 