
<ion-content>
  <div class="ion-header keyboard-hide">
    <ion-icon name="key-outline" color="primary"></ion-icon>
  </div>
  <div class="limit-size">
    <ion-slides #loginSlide class="mainSlide">
      <ion-slide>
        <ion-card class="card">
          <ion-card-title id="app">{{'signin-title' | translate}}</ion-card-title>
          <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <ion-item>
              <ion-label position="stacked">{{'usuario' | translate}}</ion-label>
              <ion-input type="text" name="username" placeholder="{{'usernamePh' | translate}}" ngModel minlength="3" maxlength="30" required autocomplete="off" (ionChange)="onFillingForm(loginForm.value)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{'pw' | translate}}</ion-label>
              <password-wrapper>
                <ion-input type="password" name="password" (keyup.enter)="login(loginForm)" placeholder="··········" ngModel minlength="6" maxlength="30" required autocomplete="off" (ionChange)="onFillingForm(loginForm.value)"></ion-input>
              </password-wrapper>
            </ion-item>
            <div class="buttons">
              <ion-button type="submit" expand="block" ><!--[disabled]="loginForm.invalid && (!enabledBioAccess || fillingForm)"-->
                {{'signin-btn' | translate}}
                <ion-icon name="finger-print-outline" slot="end" *ngIf="enabledBioAccess && !fillingForm"></ion-icon>
              </ion-button>
              <ion-button (click)="showRegister()" expand="block" fill="clear">{{'signup-title' | translate}}</ion-button>
            </div>
          </form>
        </ion-card>
      </ion-slide>  

      <ion-slide>
        <ion-card class="card">
          <ion-card-title>{{'signup-title' | translate}}</ion-card-title>
          <form  #registerForm="ngForm" (ngSubmit)="register(registerForm)">

            <ion-item>
              <ion-label position="stacked">{{'usuario' | translate}}</ion-label>
              <ion-input type="text" name="username" placeholder="minombre95" ngModel minlength="3" maxlength="30" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{'pw' | translate}}</ion-label>
              <password-wrapper>
                <ion-input type="password" name="password" placeholder="··········" ngModel minlength="6" maxlength="30" required></ion-input>
              </password-wrapper>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{'pw2' | translate}}</ion-label>
              <password-wrapper>
                <ion-input type="password" name="password2" (keyup.enter)="register(registerForm)" placeholder="··········" ngModel minlength="6" maxlength="30" required></ion-input>
              </password-wrapper>
            </ion-item>

            <div class="buttons">
              <ion-button type="submit" [disabled]="registerForm.invalid" expand="block">{{'signup-btn' | translate}}</ion-button>
              <ion-button (click)="showLogin()" expand="block" fill="clear">{{'signin-btn' | translate}}</ion-button>
            </div>
          </form>
        </ion-card>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
<div class="no-pws-sync" *ngIf="noPwSyncParam">
  <ion-icon name="alert-outline"></ion-icon>
  <span>{{'no-pws-sync' | translate:noPwSyncParam}}</span>
</div>
<app-btn-show-credential-manager></app-btn-show-credential-manager>
