
<ion-content>
  <div class="ion-header">
    <ion-icon name="key-outline" color="primary"></ion-icon>
  </div>
  <div class="limit-size">



    <ion-slides #loginSlide class="mainSlide">
      <ion-slide>
        <ion-card class="card">
          <ion-card-title class="ion-text-center">{{'signin-title' | translate}}</ion-card-title>
          <form  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <ion-item>
              <ion-label position="stacked">{{'usuario' | translate}}<ion-text color="primary">*</ion-text></ion-label>
              <ion-input type="text" name="username" placeholder="minombre95" ngModel minlength="3" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{'pw' | translate}}<ion-text color="primary">*</ion-text></ion-label>
              <ion-input type="password" name="password" placeholder="··········" ngModel minlength="6" required></ion-input>
            </ion-item>
            <div class="buttons">
              <ion-button type="submit" [disabled]="loginForm.invalid" expand="block">{{'signin-title' | translate}}</ion-button>
              <ion-button (click)="showRegister()" expand="block" fill="clear">{{'signup-title' | translate}}</ion-button>
            </div>
          </form>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="card">
          <ion-card-title class="ion-text-center">{{'signup-title' | translate}}</ion-card-title>
          <form  #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
            <ion-item>
              <ion-label position="stacked">{{'usuario' | translate}} <req></req></ion-label>
              <ion-input type="text" name="username" placeholder="minombre95" ngModel minlength="3" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{'pw' | translate}} <req></req></ion-label>
              <ion-input type="password" name="password" placeholder="··········" ngModel minlength="6" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{'pw2' | translate}} <req></req></ion-label>
              <ion-input type="password" name="password2" placeholder="··········" ngModel minlength="6" required></ion-input>
            </ion-item>
            <div class="buttons">
              <ion-button type="submit" [disabled]="registerForm.invalid" expand="block">Aceptar</ion-button>
              <ion-button (click)="showLogin()" expand="block" fill="clear">{{'signin-title' | translate}}</ion-button>
            </div>
          </form>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <div class="no-pws-sync" *ngIf="noPwSyncParam">
      <ion-icon name="alert-outline"></ion-icon>
      <span>{{'no-pws-sync' | translate:noPwSyncParam}}</span>
    </div>
  </div>
</ion-content>
<app-btn-show-credential-manager></app-btn-show-credential-manager>
