<ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ion-hide-sm-up">
  <ion-fab-button [color]="(prod)?'primary':'medium'" (click)="showManager()" [style]="(prod)?'':'--background: lightcyan'">
    <ion-icon name="add" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab  vertical="bottom" slot="fixed" id="big-screen-btn" class="ion-hide-sm-down">
  <ion-button [color]="(prod)?'primary':'medium'" (click)="showManager()" shape="round">
    <ion-icon slot="start" name="add"></ion-icon>
    {{'add-cred-btn' | translate}}
  </ion-button>
</ion-fab>