<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex">
      <div id="title">
        <ion-icon name="key-outline" style="font-size: 30px; margin: auto 10px" color="primary"></ion-icon>
      </div>
      <div class="limit-size" style="width: 100%;">
        <ion-searchbar 
        slot="secondary" 
        animated 
        showCancelButton="focus" 
        placeholder="¿Qué buscas?" 
        (ionChange)="onSearch($event.detail.value)"
        [debounce]="300"
        style="padding:3px 7px;"></ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limit-size" style="margin-top: 18px;">
    <ion-card *ngFor="let credential of lFilteredCredentials" (click)="showManager(credential)">
      <ion-card-title>
        {{credential.title}} 
        <span class="url">{{credential.url}}</span>
        <!-- <ion-icon name="link-outline"></ion-icon> -->
      </ion-card-title>
      <ion-card-content class="flex">
        <p class="email">{{credential.usernameOrEmail}}</p>
        <p class="password" [class]="(credential.options?.show)?'showing':'hidden'">{{credential.password | password:credential.options?.show }}</p>
      </ion-card-content>
      <div class="icons">
        <ion-icon [name]="(credential.options?.show)?'eye-outline':'eye-off-outline'" (click)="showHidePw(credential, $event)"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline" (click)="settingsPopover(credential, $event)"></ion-icon> <!--ion-popover-->
      </div>
    </ion-card>
  </div>

  <app-btn-show-credential-manager></app-btn-show-credential-manager>
</ion-content>
