ion-title {
  max-width: 50px; 
}
@media only screen and (min-width: 600px) {
  ion-title {
    position: absolute;
  }
}
.password{
  font-size: large;
  letter-spacing: 2.5px;
  font-weight: bold;
}

ion-card {
  padding: 10px 0 5px 15px;
  margin: 10px;
  border-radius: 7px;

  ion-card-title {
      font-size: medium;
      margin-bottom: 5px;

      .url{
        font-size: small;
        font-weight: lighter;
        margin-left: 10px;
        opacity: .4;
        vertical-align: text-top;
      }
  }

  ion-card-content {
      font-size: large;
      padding: 0;
      
      p{
        margin: 0;
      }
  }
}