.bar-icon {
  max-width: 50px; 
  align-self: center;
  ion-icon{
    font-size: 30px; 
    margin: auto 10px;
  }
}
@media only screen and (min-width: 600px) {
  .bar-icon {
    position: absolute;
  //   &#icon-options{
  //     right: 0;
  //   }
  }
}

.email {
  width: 55%;
  padding-right: 1px;
}

.password{
  width: 45%;
  padding-left: 1px;
  &.hidden{
    font-size: large;
    letter-spacing: 2.5px;
    font-weight: bold;
  }
  &.showing{
    font-size: large;
    font-weight: lighter;
  }
}

ion-card {
  padding: 10px 0 5px 15px;
  margin: 15px 10px;
  border-radius: 7px;
  box-shadow: 
  0 1px 2px   rgba(0,0,0,0.04), 
  0 2px 4px   rgba(0,0,0,0.04), 
  0 4px 8px   rgba(0,0,0,0.04), 
  0 8px 16px  rgba(0,0,0,0.04);
  cursor: pointer;


  ion-card-title {
      font-size: medium;
      margin-bottom: 5px;
      font-weight: lighter;
      letter-spacing: 1px;

      .url{
        font-size: small;
        font-weight: lighter;
        margin-left: 10px;
        opacity: .4;
        vertical-align: text-top;
        font-family: 'Ubuntu', sans-serif;
        font-weight: normal !important;
      }
  }

  ion-card-content {
      font-size: large;
      padding: 0;
      
      p{
        margin: 0;
        align-self: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
  }

  .icons {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    ion-icon {
      margin-left: 8px;
    }
  }
}

#settings-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  color: var(--ion-color-dark);
  // opacity: .5;
  border: solid 1px var(--ion-color-light);
  border-radius: 50%;
  background: var(--ion-color-light);
  opacity: .7;
}
