<ion-header>
  <ion-toolbar>
    <div class="flex">
      <div class="bar-icon">
        <ion-icon name="key-outline" color="primary"></ion-icon>
      </div>
      <div class="limit-size" style="width: 100%;">
        <ion-searchbar 
        slot="secondary" 
        animated 
        showCancelButton="focus" 
        [placeholder]="'searchbar-placeholder' | translate" 
        (ionChange)="onSearch($event)"
        [debounce]="300"
        style="padding:3px 7px;"></ion-searchbar>
      </div>
      <!-- <div class="bar-icon" id="icon-options">
        <ion-icon name="settings-outline" color="medium"></ion-icon>
      </div> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limit-size" style="margin-top: 18px;">

    <div *ngIf="(lCredentials | async)?.length === 0; else thereAreCreds">
      <div class="default-img" (click)="showManager()">
        <img src="/assets/images/add.svg" alt="añade contraseña">
        <h5>{{'add-first-pw' | translate}}</h5>
      </div>
    </div>
    <ng-template #thereAreCreds>
      <div class="default-img" *ngIf="(lFilteredCredentials | async)?.length === 0">
        <h1>¯\_(ツ)_/¯</h1>
        <h5>{{'no-results' | translate}}</h5>
        <small>{{'check-search' | translate}}</small>
      </div>
    </ng-template>

    <ion-card *ngFor="let credential of lFilteredCredentials | async" (click)="showManager(credential)">
      <!-- {{credential | json}} -->
      <ion-card-title class="credential-card-title">
        {{credential.title}} 
        <span class="url">{{credential.url}}</span>
        <!-- <ion-icon name="link-outline"></ion-icon> -->
      </ion-card-title>
      <ion-card-content class="flex">
        <p class="email">{{credential.usernameOrEmail}}</p>
        <p class="password" [class]="(credential.options?.show)?'showing':'hidden'">{{credential.password | password:credential.options?.show }}</p>
      </ion-card-content>
      <div class="icons">
        <ion-icon [name]="(credential.options?.show)?'eye-outline':'eye-off-outline'" (click)="showHidePw(credential, $event)"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline" (click)="settingsPopover(credential, $event)"></ion-icon> <!--ion-popover-->
      </div>
    </ion-card>
  </div>
</ion-content>
<app-btn-show-credential-manager></app-btn-show-credential-manager>

<ion-icon name="settings-outline" id="settings-btn" routerLink="menu"></ion-icon>