/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;1,500&family=Jura:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* ----Custom CSS---- */

.limit-size{
    max-width: 500px;
    margin: auto;
}

.flex{
    display: flex;
    .full {
        width: 100%;
    }
    .half {
        width: 50%;
    }
}

.custom-modals{
    --height: 400px;
    --border-radius: 10px 10px 0 0;
    align-items: flex-end; 
}

.popover{
    --width: 220px;
  }

req {
    &:after {
        color: var(--ion-color-primary);
        content: "*";
    }
}

ion-toast{
    --border-radius: 10px;
    text-align: center;
    font-size: 15px;
        
    &.simple{
        --background: rgba(68, 68, 68, 0.9);	
    }
    &.error{
        --background: rgba(174, 49, 0, 0.9);
    }
}

ion-item{
    --background: transparent;
}

p, input {
    font-family: 'Ubuntu', sans-serif !important;
}

/* Fonts */
h3, ion-card-title{
    font-family: 'Jura', sans-serif;
    // text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
ion-label, ion-button{
    font-family: 'Karla', sans-serif !important;
}
    ion-button{
    // font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px !important;
}
  
.md ion-card ion-label{
font-size: 18px !important;
}